<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Landing</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Impact:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Impact:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top" class="bg-black">

    <body id="page-top">
        <nav class="navbar center navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand align-items-center" href="#page-top">BrainBot</a>
            </div>
        </nav>

        <header class="masthead text-center text-white">
            <div class="container px-5 bg-black">
                <div class="row align-items-center">
                    <div class=" col-lg-6 order-lg-2">
                        <img class="img-fluid rounded-circle" src="static/img/brain.png" alt="..." />
                    </div>
                    <div class="col-lg-6 order-lg-1 p-5">
                        <h1 style="font-size: 35px;">Identify hemorrhages</h1>
                        <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/upload">Start Here</a>
                    </div>
                </div>
            </div>
        </header>

        <section id="scroll" class="bg-black">
            <div class="container px-5 bg-black">
                <div class="gx-5 align-items-center">
                    <div class="">
                        <div class="p-5">
                            <p class="font-size: 35px;" style="color:#FFFFFF;">Intracranial hemorrhage is a life-threatening condition where bleeding occurs inside the skull, requiring immediate and specialized treatment. It accounts for about 10% of strokes in the U.S., making rapid diagnosis crucial for effective intervention. Typically, specialists must urgently analyze medical images to locate and identify the type of hemorrhage, a process that is both time-consuming and complex. To expedite this critical diagnostic step, we have developed an algorithm designed to quickly detect acute intracranial hemorrhages and their subtypes. This innovation aims to reduce the time needed for diagnosis, thereby potentially improving patient outcomes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br><br><br>

        <footer class="py-2 bg-black footer">
            <div class="container px-5">
                <img class="img-fluid mw-5" src="static/img/pitt.png" alt="..." />
                <p class="mx-3 text-center text-white small d-md-inline-block">Copyright &copy; BrainBot 2023</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>